.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.main-nav,.main-footer{
  background-color: black;
  color: white;
  width: 100%;
  min-height: 5vh;
  
}
.main-nav{
  display: flex;
  justify-content: flex-start;
  text-align: center;
}
.main-nav p{
  margin-left: calc(10px + 2%);
  font-size: 20px;
}
.main-footer h4{
  margin-top: 0px;
  margin-bottom: 0px;
  justify-content: center;
}
.main-body{
  background-color: #61dafb;
}
.main-body-contents{
  
  justify-content: center;
  text-align: center;
  min-height: 90vh;
}
.main-body p{
  margin-top: 0px;
  margin-bottom: 20px; 
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
